.blogs {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blogs-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-top: 2rem;
}


.blog{
  transition: all 0.3s ease-in-out;
}

.blog:hover{
  transform: scale(1.04);
}
.blog-img{
  border-radius: 10px 0;
  width:350px;
  height: auto;
}
@media all and (max-width: 1100px) {
  .blogs-list{
    flex-wrap: wrap;
  }
}
@media all and (max-width: 568px) {
  .blogs{
    height: auto;
  }
  .blogs-list{
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }

  .blog-img{
    width: 300px;
    height: auto;
  }
}