.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.2rem 0.5rem;
}

.App{
  background-image: url('https://ak.picdn.net/shutterstock/videos/1026936203/thumb/1.jpg');
}

h2{
   color: #cd5ff8;
   font-size: 2rem;
   letter-spacing: 3px;
}

/* button  */
.btn{
  -webkit-appearance: none;	
  appearance: none;
  cursor: pointer;	
  display: inline-block;	
  font-size: 0.96rem;	
  letter-spacing: 0.03rem;
  font-weight: 600;	
  line-height: normal;	
  margin: 0;	
  min-height: 40px;	
  min-width: 0;	
  outline: none;	
  text-align: center;	
  text-decoration: none;	
  transition: all 0.4s ease-out;	
  -ms-user-select: none;	
  user-select: none;	
  -webkit-user-select: none;	
  touch-action: manipulation;
}