.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.2rem 0.5rem;
}

.App{
  background-image: url('https://ak.picdn.net/shutterstock/videos/1026936203/thumb/1.jpg');
}

h2{
   color: #cd5ff8;
   font-size: 2rem;
   letter-spacing: 3px;
}