/* preloader */
.preloader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0c0513;
  z-index: 99999;
  align-items: center;
  background-image: url(./Assets/preloader.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.preloader-none{
  display: none;
}

/*Scrollbar   */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #313131;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(178, 121, 216, 0.959);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
   border-radius: 10px;
}